<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy tickets</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/ticket.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
    <style>
        .item {
            border: white thin solid;
            padding: 15px;
            height: 450px;
            text-align: center;
            margin-top: 15px;
        }

        .filter {
            border: solid thin red;
            padding: 2em;
            width: fit-content;
        }

        /*
        input[type=button] {
            position: absolute;
            left: 10px;
            top:200px;
        }
        */
    </style>

</head>
<nav style="background-color: rgba(242, 242, 242, 1); text-align: center;">
    <table class="table" style="background-color: rgb(220, 220, 56);">
        <tr>
            <th class="col-xs-12 col-sm-12 col-md-6 col-lg-6"><a href="#!discounts"><img
                        src="image/ticket-image/discount-icon.png" class="social-icon">Discounts and Specials</a>
            </th>
            <th class="col-xs-12 col-sm-12 col-md-6 col-lg-6"><a href="#!buyticket"><img
                        src="image/ticket-image/buyticket-icon.png" class="social-icon">Buy Tickets</a>
            </th>
        </tr>
    </table>
</nav>

<body>

    <header>
        <div class="header container">
            <h1 class="h1">Buy Tickets</h1>
        </div>
        <div id="banner6">
        </div>
        <p>&nbsp;</p>
        <div>
            <div>
                <h3 style="text-align: center;" data-aos="fade-right">
                    <strong>"There will be NO online ticket sales for 2022 season. All tickets for amusement park and
                        waterpark must be purchased in-person at any of the park ticketbooths. Thank you!"</strong>
                </h3>
            </div>
            <p>&nbsp;</p>
        </div>

    </header>
    <div class="container" ng-controller="productControl">
        <div class="row">
            <div ng-repeat="item in menu" class="col-sm-12 col-md-6 item" 
            ng-click=show(item.id)  data-toggle="modal" data-target="#myModal" data-aos="fade-left" >
    
                <img src="images/{{item.image}}"> <br>  <br>
               <strong> {{item.price|currency}} </strong>
                <br>
                <input type="button" value="Add To Cart" ng-click="addCart($index)" class="btn btn-success"> <br><br>
                
            </div>
        </div>   
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog"> 
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="imgs-zoom-area"><img id="zoom_03" src="images/{{image}}"
                                        style="width: 100%;" alt=""></div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="text-black-1">Product Name: {{name}} </h3>
    
                                <h6 class="brand-name-2">Product Price : {{price}}</h6>
                               
                                <div role="tabpanel" class="tab-pane active" id="description">
                                    <p>{{description}}.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 3000,
            once: true,
        });
    </script>
</body>

</html>